/wp-signup.php
/wp-login.php
/readme.html
/wp-comments-post.php
/wp-links-opml.php
/wp-cron.php
/xmlrpc.php
/wp-load.php
/wp-blog-header.php
/license.txt
/wp-trackback.php
/wp-settings.php
/wp-activate.php
/index.php
/wp-config-sample.php
/wp-mail.php
/wp-includes/
/wp-admin/
/wp-content/ai1wm-backups/
/wp-content/languages/
/wp-content/fonts/
/wp-content/cache/
/wp-content/upgrade/
/wp-content/themes/twentynineteen/
/wp-content/themes/twentytwentyone/